# Data Xploration

- **count_floors_pre_eq** (type: int): number of floors in the building before the earthquake.
- **age** (type: int): age of the building in years.
- **area_percentage** (type: int): normalized area of the building footprint.
- **height_percentage** (type: int): normalized height of the building footprint.
- **land_surface_condition** (type: categorical): surface condition of the land where the building was built. Possible values: n, o, t.
- **foundation_type** (type: categorical): type of foundation used while building. Possible values: h, i, r, u, w.
- **roof_type** (type: categorical): type of roof used while building. Possible values: n, q, x.
- **ground_floor_type** (type: categorical): type of the ground floor. Possible values: f, m, v, x, z.
- **other_floor_type** (type: categorical): type of constructions used in higher than the ground floors (except of roof). Possible values: j, q, s, x.
- **position** (type: categorical): position of the building. Possible values: j, o, s, t.
- **plan_configuration** (type: categorical): building plan configuration. Possible values: a, c, d, f, m, n, o, q, s, u.
- **has_superstructure_adobe_mud** (type: binary): flag variable that indicates if the superstructure was made of Adobe/Mud.
- **has_superstructure_mud_mortar_stone** (type: binary): flag variable that indicates if the superstructure was made of Mud Mortar - Stone.
- **has_superstructure_stone_flag** (type: binary): flag variable that indicates if the superstructure was made of Stone.
- **has_superstructure_cement_mortar_stone** (type: binary): flag variable that indicates if the superstructure was made of Cement Mortar - Stone.
- **has_superstructure_mud_mortar_brick** (type: binary): flag variable that indicates if the superstructure was made of Mud Mortar - Brick.
- **has_superstructure_cement_mortar_brick** (type: binary): flag variable that indicates if the superstructure was made of Cement Mortar - Brick.
- **has_superstructure_timber** (type: binary): flag variable that indicates if the superstructure was made of Timber.
- **has_superstructure_bamboo** (type: binary): flag variable that indicates if the superstructure was made of Bamboo.
- **has_superstructure_rc_non_engineered** (type: binary): flag variable that indicates if the superstructure was made of non-engineered reinforced concrete.
- **has_superstructure_rc_engineered** (type: binary): flag variable that indicates if the superstructure was made of engineered reinforced concrete.
- **has_superstructure_other** (type: binary): flag variable that indicates if the superstructure was made of any other material.
- **legal_ownership_status** (type: categorical): legal ownership status of the land where building was built. Possible values: a, r, v, w.
- **count_families** (type: int): number of families that live in the building.
- **has_secondary_use** (type: binary): flag variable that indicates if the building was used for any secondary purpose.
- **has_secondary_use_agriculture** (type: binary): flag variable that indicates if the building was used for agricultural purposes.
- **has_secondary_use_hotel** (type: binary): flag variable that indicates if the building was used as a hotel.
- **has_secondary_use_rental** (type: binary): flag variable that indicates if the building was used for rental purposes.
- **has_secondary_use_institution** (type: binary): flag variable that indicates if the building was used as a location of any institution.
- **has_secondary_use_school** (type: binary): flag variable that indicates if the building was used as a school.
- **has_secondary_use_industry** (type: binary): flag variable that indicates if the building was used for industrial purposes.
- **has_secondary_use_health_post** (type: binary): flag variable that indicates if the building was used as a health post.
- **has_secondary_use_gov_office** (type: binary): flag variable that indicates if the building was used fas a government office.
- **has_secondary_use_use_police** (type: binary): flag variable that indicates if the building was used as a police station.
- **has_secondary_use_other** (type: binary): flag variable that indicates if the building was secondarily used for other purposes.

import pandas as pd

In [2]:
import pandas as pd 
import numpy as np

In [14]:
import os

In [16]:
os.getcwd()

'/home/shahab/git/Earthquake-competition/Notebooks/0 preliminary exploration'

In [77]:
df = pd.read_csv('../../data/raw/train_values.csv')

In [22]:
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [76]:
df.shape

(260601, 39)

In [78]:
# lets see the duplicates
# we want to use the id column to check for duplicates
df.building_id.duplicated().sum()

# we have no duplicates

np.int64(0)

In [ ]:
#lets check for duplicates in the whold dataset 

df.duplicated().sum()

0         False
1         False
2         False
3         False
4         False
          ...
260596    False
260597    False
260598    False
260599    False
260600    False
Length: 260601, dtype: bool

In [81]:
# lets see if there are duplicates withouth the id column

df_no_id = df.drop('building_id', axis=1)

In [82]:
df_no_id.duplicated().sum()

np.int64(16191)

In [83]:
df[df_no_id.duplicated()]

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
2073,21709,4,144,2765,2,10,8,4,t,r,...,0,0,0,0,0,0,0,0,0,0
2702,242723,20,508,11256,2,10,9,6,t,w,...,0,0,0,0,0,0,0,0,0,0
3003,461019,21,111,11714,2,10,9,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3563,505127,6,1108,5909,2,30,4,7,t,r,...,0,0,0,0,0,0,0,0,0,0
4188,553217,27,269,11121,2,15,10,7,n,r,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260572,333974,7,1306,2696,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
260575,29215,4,144,5751,2,5,4,4,t,r,...,0,0,0,0,0,0,0,0,0,0
260580,262990,17,875,10462,2,5,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
260583,192421,7,322,2843,2,10,6,6,t,r,...,0,0,0,0,0,0,0,0,0,0
260595,827012,8,268,4718,2,20,8,5,t,r,...,0,0,0,0,0,0,0,0,0,0

In [88]:
# Get the row with building_id 21709
row = df[df.building_id == 21709]

# Drop the building_id column for comparison
row_no_id = row.drop('building_id', axis=1)

# Find similar rows in the dataset
similar_rows = df[df.drop('building_id', axis=1).eq(row_no_id.values).all(axis=1)]

# Display the similar rows
similar_rows

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
893,113742,4,144,2765,2,10,8,4,t,r,...,0,0,0,0,0,0,0,0,0,0
2073,21709,4,144,2765,2,10,8,4,t,r,...,0,0,0,0,0,0,0,0,0,0
110953,768693,4,144,2765,2,10,8,4,t,r,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# show me one of these duplicates 

# for example buildin_id 21709 seems to be a duplicate, show me with row is it duplicated , 
# we need to find a row similar to the one with building_id 21709
# get vaues of building_id 21709 , and search for siiilar values in the dataset
row = df[df.building_id == 21709]

# search for row similar to the one with building_id 21709

df

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
2073,21709,4,144,2765,2,10,8,4,t,r,...,0,0,0,0,0,0,0,0,0,0