In [1]:
import sys
import os
#import random forrest from sklearn 
from sklearn.ensemble import RandomForestClassifier


sys.path.append(os.path.abspath('../../src'))

from utils import *
from data_cleaning import *
from pipeline import *

from sklearn.metrics import f1_score

In [2]:
df_X, df_y = load_data_train()

In [3]:
df_X = convert_to_object(df_X)

In [4]:
df_X, df_y = drop_duplicates(df_X,df_y)

In [5]:
outliers_ids = get_outliers_ids(df_X)

tot number of outliers: 10526
- geo_level_1_id - number of outliers: 0
- geo_level_2_id - number of outliers: 0
- geo_level_3_id - number of outliers: 0
- count_floors_pre_eq - number of outliers: 2439
- age - number of outliers: 1259
- area_percentage - number of outliers: 3811
- height_percentage - number of outliers: 2407
- count_families - number of outliers: 2325

In [6]:
df_X, df_y = drop_row(outliers_ids.tolist(), df_X, df_y)

In [7]:
df_X

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260593,226421,8,767,8613,2,5,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
260596,688636,25,1335,1621,1,55,6,3,n,r,...,0,0,0,0,0,0,0,0,0,0
260597,669485,17,715,2060,2,0,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
260598,602512,17,51,8163,3,55,6,7,t,r,...,0,0,0,0,0,0,0,0,0,0
260599,151409,26,39,1851,2,10,14,6,t,r,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# do some EDA

In [8]:
df_X.columns

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

In [ ]:
# want to create features: 

# features are : 

['building_id', 
 
 # geographic location , based on regions , lets say : 
 # state , city , zone in the city 

 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',

# building information : age and size 
'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',

# land information 
       'land_surface_condition', 'foundation_type', 

# building infrmation : type of the building 
       
       'roof_type',
       'ground_floor_type', 'other_floor_type',
        'position',
       'plan_configuration', 
       
# building materials : 
# here we can extract new features : 
# if it has stone in it 
# if it has cement in it 
# if it has brick 
# if there is cement

       'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone',
        'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick',
        
        # if it has wood in it 
         'has_superstructure_timber',
       'has_superstructure_bamboo', 

       # if it has concerete 
       
       'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 
       'has_superstructure_other',
       

       
       'legal_ownership_status', 'count_families',
        
        # if it is agricultural
        'has_secondary_use',
       'has_secondary_use_agriculture',
        
    # if it is an institution 
    
         'has_secondary_use_hotel',
       'has_secondary_use_rental', 
       'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other']


# material built

In [97]:
df_y = df_y.drop(['building_id'], axis=1)
df_X = df_X.drop(['building_id'], axis=1)
numerical_feature = df_X.select_dtypes(include=['number']).columns.tolist()
categorical_feature = df_X.select_dtypes(include=['object']).columns.tolist()

In [105]:
standard_scaler_cols = numerical_feature
robust_scaler_cols = []
baseN_enc_cols = categorical_feature
ordinal_enc_cols = []
one_hot_cols = []

X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.2, random_state=42)

In [106]:
model = RandomForestClassifier(n_estimators=100, random_state=0)

pre_proccessor = pipeline_preprocessor(standard_scaler_cols=standard_scaler_cols,one_hot_cols=ordinal_enc_cols)
pipeline = classifier_pipeline(pre_proccessor, model)

In [109]:
model_fit = model_training(X_train,y_train,pipeline)

/Users/davide/miniconda3/envs/DA_env/lib/python3.13/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [110]:
y_pred = model_fit.predict(X_test)
score = f1_score(y_test, y_pred, average='micro')
print(score)

0.6934177052825107